@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');



body {
    background-color: brown;
    margin: 0;
    padding: 0;
    position: relative;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

main {
    height: 8000px;
    flex-shrink: 0;
}


.scrolling-wrapper {
    position: absolute;
    width: 100%;
    overflow: hidden;
}


.scrolling-block {
    background-color: transparent;
    max-width: 1520px;
    height: 4000px;
    text-align: center;
    transform: rotateX(45deg) rotateZ(45deg) translate3d(270px, 2200px, 0px);
    position: fixed;
    top: -1748px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

@media (max-width: 1000px) {
    .scrolling-block {
        top: -1900px;
    }
}

img {
    border-radius: 0px;
    margin: 11px;
    width: 225px;
    height: 225px;
    transition: 0.5s;
    z-index: 10;
}

.img-wrapper {
    position: relative;
    height: 250px;
}

.img-wrapper::after {
    width: 225px;
    height: 225px;
    background-color: black;
    content: "";
    position: absolute;
    right: -2px;
    top: 20px;
    z-index: -2;
    filter: blur(6px);
    opacity: 0.5;
}

.img-wrapper p {
    position: absolute;
    color: white;
    font-size: 20px;
    bottom: 0px;
    left: 20%;
    z-index: -1;
    font-family: 'Pacifico', cursive;
    letter-spacing: 3px;
}

img:hover {
    transform: translate3d(-61px, -71px, 0px);
}