body {
    background-color: brown;
    margin: 0;
    padding: 0;
    position: relative;
    height: 6000px;
}

.scrolling-wrapper {
    position: absolute;
    top: -1548px;
    height: 2628px;
    width: 100%;
    overflow: hidden;
}

.scrolling-block {
    background-color: transparent;
    width: 1520px;
    height: 4000px;
    text-align: center;
    transform: rotateY(0deg) rotateX(45deg) rotateZ(45deg) translate3d(270px, 2200px, 0px);
    position: fixed;
}

img {
    border-radius: 0px;
    margin: 11px;
    box-shadow: 3px 3px 6px black;
    width: 225px;
    height: 225px;
}